<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<div layout:fragment="content" class="container my-3">
  <th:block sec:authorize="hasRole('ROLE_USER')">
    <h2>세션유저로 로그인 하셨습니다</h2>
  </th:block>
  <th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <h2>관리자로 로그인 하셨습니다</h2>
  </th:block>
  <th:block sec:authorize="isAnonymous()">
    <h3>로그인이 필요한 서비스입니다.</h3>
  </th:block>
</div>
</html>